<?xml version="1.0"?>
<config>
    <modules>
        <Appath_ProductRelations>
            <version>0.1.0</version>
        </Appath_ProductRelations>
    </modules>
    <global>
        <models>
            <appath_productrelations>
                <class>Appath_ProductRelations_Model</class>
            </appath_productrelations>
            <catalog>
                <rewrite>
                    <product_api_v2>Appath_ProductRelations_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <appath_productrelations>
                <class>Appath_ProductRelations_Helper</class>
            </appath_productrelations>
        </helpers>
    </global>
</config>